In [43]:
import re
import pandas as pd
import numpy as np
import scipy
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from pandas import Series, DataFrame
import nltk
import os
import spacy
import string

In [27]:
df = pd.DataFrame(pd.read_csv("C:/data/CS/scraped/new_tickers2019-10-09-16-24.csv"))
df.describe()

,SYMBOL,SITE_NAME,URL,PUBLISH_TIME,SCRAPED_TIME,TITLE,CONTENT
count,14336,9616,8464,8238,7795,8084,5848
unique,2152,808,4103,1495,125,3936,2674
top,—,Yahoo Finance,https://www.bloomberg.com/graphics/2019-women-...,"Mon, 23 Sep 2019 07:00:00 GMT",2019-10-09-16-24,California's Women Requirement for Company Boa...,Why did this happen?\r\n\r\nPlease make sure y...
freq,260,1392,110,139,6546,110,576

In [28]:
df.drop_duplicates(keep='first')
df.describe()

,SYMBOL,SITE_NAME,URL,PUBLISH_TIME,SCRAPED_TIME,TITLE,CONTENT
count,14336,9616,8464,8238,7795,8084,5848
unique,2152,808,4103,1495,125,3936,2674
top,—,Yahoo Finance,https://www.bloomberg.com/graphics/2019-women-...,"Mon, 23 Sep 2019 07:00:00 GMT",2019-10-09-16-24,California's Women Requirement for Company Boa...,Why did this happen?\r\n\r\nPlease make sure y...
freq,260,1392,110,139,6546,110,576

In [29]:
df.head()

,SYMBOL,SITE_NAME,URL,PUBLISH_TIME,SCRAPED_TIME,TITLE,CONTENT
0,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-hongkong-pr...,"Tue, 08 Oct 2019 20:45:00 GMT",2019-10-09-16-24,China state newspaper criticizes Apple for app...,HONG KONG (Reuters) - The Chinese Communist Pa...
1,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-apple-iphon...,"Fri, 04 Oct 2019 05:29:00 GMT",2019-10-09-16-24,Apple raises production of iPhone 11 models by...,(Reuters) - Apple Inc (AAPL.O) has asked suppl...
2,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-apple-iphon...,"Tue, 10 Sep 2019 07:00:00 GMT",2019-10-09-16-24,Apple reveals triple-camera iPhone; $5 monthly...,"CUPERTINO, Calif. (Reuters) - Apple Inc (AAPL...."
3,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-usa-court-a...,"Mon, 07 Oct 2019 13:46:00 GMT",2019-10-09-16-24,U.S. Supreme Court snubs University of Wiscons...,FILE PHOTO: Apple company logos are seen as tw...
4,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-apple-goldm...,"Fri, 13 Sep 2019 07:00:00 GMT",2019-10-09-16-24,Apple has sour reaction to Goldman Sachs' anal...,NEW YORK (Reuters) - Apple Inc APPL.O struck o...

In [30]:
df.tail()

,SYMBOL,SITE_NAME,URL,PUBLISH_TIME,SCRAPED_TIME,TITLE,CONTENT
29279,REED,NaN,https://www.bloomberg.com/news/newsletters/201...,"June 6, 2019, 3:00 PM EDT",NaN,The endurance of miracles,Miraculous medical breakthroughs are coming at...
29280,REED,NaN,https://www.bloomberg.com/news/articles/2019-0...,"April 23, 2019, 6:58 PM EDT",NaN,Explosions Threatening Lithium-Ion's Edge in a...,"Another lithium-ion battery has exploded, this..."
29281,REED,NaN,https://www.bloomberg.com/news/articles/2019-0...,"April 17, 2019, 2:30 AM EDT",NaN,"China's Economy Holds Up, Italy Populism, Japa...",Go inside the global economy with Stephanie Fl...
29282,REED,NaN,https://www.bloomberg.com/news/articles/2019-0...,"March 27, 2019, 7:00 AM EDT",NaN,Tainted Pills Force FDA to Tighten Drug-Safety...,`We’ve seen a lot of instances of adulterated ...
29283,SFLY,NaN,https://www.bloomberg.com/news/articles/2019-0...,"February 6, 2019, 5:43 AM EST",NaN,Taliban Says It Wants U.S. Withdrawal From Afg...,This is a modal window.\r\nBeginning of dialog...

In [31]:
df.dropna(subset=['SYMBOL'], inplace=True)
df.describe()

,SYMBOL,SITE_NAME,URL,PUBLISH_TIME,SCRAPED_TIME,TITLE,CONTENT
count,14336,9616,8454,8228,7794,8074,5838
unique,2152,808,4094,1486,125,3927,2665
top,—,Yahoo Finance,https://www.bloomberg.com/graphics/2019-women-...,"Mon, 23 Sep 2019 07:00:00 GMT",2019-10-09-16-24,California's Women Requirement for Company Boa...,Why did this happen?\r\n\r\nPlease make sure y...
freq,260,1392,110,139,6546,110,576

In [32]:
df.dropna(subset=['CONTENT'], inplace=True)
df.describe()

,SYMBOL,SITE_NAME,URL,PUBLISH_TIME,SCRAPED_TIME,TITLE,CONTENT
count,5838,5228,5838,5838,5490,5838,5838
unique,316,82,2926,1210,79,2924,2665
top,Abbott Laboratories | ABT,Yahoo Finance,https://www.bloomberg.com/graphics/2019-women-...,"Thu, 21 Mar 2019 07:00:00 GMT",2019-10-09-16-24,California's Women Requirement for Company Boa...,Why did this happen?\r\n\r\nPlease make sure y...
freq,70,1376,110,121,4354,110,576

In [33]:
content=df['CONTENT']
len(content)

5838

In [34]:
#function to remove non-ascii characters
def _removeNonAscii(s): return "".join(i for i in s if ord(i)<128)

In [35]:
content = content.astype('str')
#remove non-ascii characters
content = content.map(lambda x: _removeNonAscii(x))
STOPWORDS_DICT = {lang: set(nltk.corpus.stopwords.words(lang)) for lang in nltk.corpus.stopwords.fileids()}

In [36]:
#function to detect language based on # of stop words for particular language
def get_language(text):
    words = set(nltk.wordpunct_tokenize(text.lower()))
    lang = max(((lang, len(words & stopwords)) for lang, stopwords in STOPWORDS_DICT.items()), key = lambda x: x[1])[0]
    if lang == 'english':
        return True
    else:
        return False

In [37]:
#filter for only english comments
eng_content=content[content.apply(get_language)]

In [38]:
#load spacy
nlp = spacy.load('en', disable=['parser','ner'])

In [39]:
#function to clean and lemmatize comments
def clean_content(text):
    #remove punctuations
    regex = re.compile('[' + re.escape(string.punctuation) + '\\r\\t\\n]')
    nopunct = regex.sub(" ", str(text))
    #use spacy to lemmatize comments
    doc = nlp(nopunct)
    lemma = [token.lemma_ for token in doc]
    return lemma

In [40]:
#apply function to clean and lemmatize comments
lemmatized = eng_content.map(clean_content)
#make sure to lowercase everything
#make sure to lowercase everything
df['CONTENT'] = lemmatized.map(lambda x: [word.lower() for word in x])

In [47]:
d=str(df['CONTENT'][4])
d
# odom=d.split()
# tmp_str = "".join(odom)
# result =  ' '.join(tmp_str.split())
# result

"['new', 'york', ' ', 'reuters', '   ', 'apple', 'inc', 'appl', 'o', 'strike', 'out', 'at', 'a', 'goldman', 'sachs', 'group', 'inc', ' ', 'gs', 'n', ' ', 'analyst', 'on', 'friday', 'in', 'a', 'relatively', 'rare', 'public', 'dust', 'up', 'between', 'a', 'blue', 'chip', 'wall', 'street', 'firm', 'and', '-pron-', 'client', '    ', 'the', 'apple', 'logo', 'be', 'display', 'at', 'an', 'event', 'at', '-pron-', 'headquarter', 'in', 'cupertino', ' ', 'california', ' ', 'u', 's', ' ', 'september', '10', ' ', '2019', ' ', 'reuters', 'stephen', 'lam', '   ', 'the', 'disagreement', 'come', 'after', 'goldman', 'sachs', 'analyst', 'rod', 'hall', 'criticize', 'apples', 'accounting', 'method', 'for', 'the', 'tech', 'giant', 'new', 'tv', ' ', 'product', ' ', 'say', 'in', 'a', 'research', 'note', 'that', '-pron-', 'may', 'result', 'in', 'low', 'gross', 'margin', 'and', 'profit', '    ', 'in', 'response', ' ', 'apple', 'say', '-pron-', 'do', 'not', 'expect', 'the', 'introduction', 'of', 'apple', 'tv', '  ', 'include', 'the', 'accounting', 'treatment', 'for', 'the', 'service', ' ', 'to', 'have', 'a', 'material', 'impact', 'on', '-pron-', 'financial', 'result', '    ', 'a', 'goldman', 'spokeswoman', 'decline', 'to', 'comment', 'or', 'to', 'make', 'the', 'analyst', 'available', 'for', 'interview', ' ', 'apple', 'also', 'decline', 'to', 'comment', 'on', 'the', 'goldman', 'relationship', 'beyond', '-pron-', 'comment', 'on', 'the', 'note', '    ', 'while', 'research', 'department', 'at', 'large', 'wall', 'street', 'bank', 'have', 'chinese', 'wall', 'separate', '-pron-', 'from', 'other', 'function', ' ', 'the', 'rare', 'public', 'dispute', 'be', 'an', 'awkward', 'moment', 'between', 'the', 'two', 'company', '    ', 'goldman', 'sachs', 'have', 'underwrite', 'more', 'bond', 'issuance', 'for', 'apple', 'in', 'the', 'last', 'decade', 'than', 'any', 'other', 'investment', 'bank', ' ', 'worth', 'some', ' ', '44', 'billion', ' ', 'accord', 'to', 'financial', 'datum', 'provider', 'refinitiv', '    ', 'goldman', 'sachs', 'also', 'advise', 'apple', 'on', 'merger', 'and', 'acquisition', 'as', 'recently', 'as', 'two', 'month', 'ago', ' ', 'guide', '-pron-', 'through', '-pron-', ' ', '1', 'billion', 'deal', 'to', 'acquire', 'the', 'majority', 'of', 'intels', 'smartphone', 'modem', 'business', ' ', 'accord', 'to', 'refinitiv', '    ', 'and', 'just', 'last', 'month', ' ', 'the', 'two', 'work', 'together', 'to', 'launch', 'both', 'company', 'first', 'credit', 'card', ' ', 'the', 'apple', 'card', '    ', 'every', 'bank', 'formally', 'separate', '-pron-', 'equity', 'research', 'and', 'investment', 'bank', 'division', 'because', 'of', 'law', 'pass', 'in', 'the', 'early', '2000', 'that', 'aim', 'to', 'protect', 'the', 'independence', 'of', 'the', 'equity', 'analyst', 'from', 'investment', 'banker', ' ', 'who', 'be', 'often', 'cover', 'the', 'same', 'company', 'with', 'different', 'agenda', '    ', 'corporate', 'client', 'usually', 'respect', 'the', 'independence', 'of', 'the', 'research', 'division', ' ', 'when', '-pron-', 'do', 'not', ' ', '-pron-', 'get', 'a', 'lot', 'of', 'attention', '    ', 'in', 'may', 'last', 'year', ' ', 'tesla', 'chief', 'executive', 'elon', 'musk', 'refuse', 'to', 'answer', 'question', 'from', 'analyst', 'about', 'the', 'companys', 'capital', 'requirement', ' ', 'call', 'the', 'question', 'boring', 'and', 'not', 'cool', 'during', 'a', 'conference', 'call', 'to', 'discuss', 'teslas', 'performance', ' ', '-pron-', 'later', 'criticize', 'several', 'analyst', 'directly', 'for', 'negative', 'call', '    ', 'at', 'the', 'beginning', 'of', '-pron-', 'fiscal', 'year', ' ', 'apple', 'change', 'where', '-pron-', 'account', 'for', 'the', 'value', 'and', 'cost', 'of', 'free', 'service', '  ', 'like', 'apple', 'maps', '  ', 'and', 'move', '-pron-', 'into', '-pron-', 'service', 'segment', ' ', 'previously', 'this', 'be', 'account', 'for', 'under', 'the', 'individual', 'product', '    ', 'in', '-pron-', 'note', ' ', 'goldmans', 'hall', 'say', 'apple', 'be', 'likely', 'to', 'treat', 'tv', ' ', 'subscription', 'in', 'a', 'similar', 'way', ' ', 'by', 'account', 'for', '-pron-', 'as', 'a', 'discounted', 'bundle', 'of', 'a', 'free', 'service', 'pair', 'with', 'a', 'hardware', 'purchase', ' ', 'hall', 'say', 'that', 'would', 'result', 'in', 'apple', 'investor', 'see', 'low', 'average', 'selling', 'price', 'for', 'iphone', 'and', 'other', 'apple', 'device', 'but', 'fast', 'growth', 'in', 'the', 'companys', 'service', 'segment', '    ', 'many', 'apple', 'investor', 'have', 'come', 'to', 'focus', 'on', 'growth', 'in', 'the', 'service', 'segment', 'as', 'the', 'global', 'smart', 'phone', 'market', 'have', 'stagnate', ' ', 'with', 'apple', 'share', 'rise', 'this', 'year', 'despite', 'year', 'over', 'year', 'decline', 'in', 'iphone', 'sale', 'for', '-pron-', 'most', 'recent', 'two', 'quarter']"

In [50]:
df.dropna(subset=['CONTENT'], inplace=True)
df.head()

,SYMBOL,SITE_NAME,URL,PUBLISH_TIME,SCRAPED_TIME,TITLE,CONTENT
0,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-hongkong-pr...,"Tue, 08 Oct 2019 20:45:00 GMT",2019-10-09-16-24,China state newspaper criticizes Apple for app...,"[hong, kong, , reuters, , the, chinese, co..."
1,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-apple-iphon...,"Fri, 04 Oct 2019 05:29:00 GMT",2019-10-09-16-24,Apple raises production of iPhone 11 models by...,"[ , reuters, , apple, inc, , aapl, o, , h..."
2,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-apple-iphon...,"Tue, 10 Sep 2019 07:00:00 GMT",2019-10-09-16-24,Apple reveals triple-camera iPhone; $5 monthly...,"[cupertino, , calif, , reuters, , apple,..."
3,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-usa-court-a...,"Mon, 07 Oct 2019 13:46:00 GMT",2019-10-09-16-24,U.S. Supreme Court snubs University of Wiscons...,"[file, photo, , apple, company, logo, be, see..."
4,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-apple-goldm...,"Fri, 13 Sep 2019 07:00:00 GMT",2019-10-09-16-24,Apple has sour reaction to Goldman Sachs' anal...,"[new, york, , reuters, , apple, inc, appl,..."

In [54]:

original_text=[]
for i in df['CONTENT']:
    ww=','.join(i)
    www=ww.replace(',',' ')
    #remove extra spaces
    odom=www.split()
    tmp_str = " ".join(odom)
    result =  ' '.join(tmp_str.split())

    original_text.append(result)
print(original_text[0])

hong kong reuters the chinese communist partys official newspaper the peoples daily lash out on tuesday at apple inc for allow an app on -pron- app store that track the movement of police around hong kong and be use by protester in ongoing and sometimes violent demonstration in a commentary the newspaper do not mention the name of the location app but -pron- decry what -pron- say be apples complicity in help the protester and question whether apple be think clearly one such map that be available on the apple app store the hkmap live app have become a lightning rod on twitter for criticism and support of the protest the developer do not immediately respond to a request for comment on saturday in a tweet -pron- say that apple have many business consideration but have make thing s right apple be the late foreign company to catch heat in relation to the pro democracy protest in hong kong which have last four month the national basketball association nba and u s sport brand vans also have become embroil in controversy over the protest the piece on the website of the peoples daily say apple do not have a sense of right and wrong and ignore the truth make the app available on apples hong kong app store at this time be open the door to violent protester in the former british colony let poisonous software have -pron- way be a betrayal of the chinese people feeling the paper say apple do not respond to a request for a comment

In [56]:
df['CONTENT']=original_text
print (df['CONTENT'][1])
df.describe()
dv=df
dv.describe()

reuters apple inc aapl o have ask supplier to increase production of -pron- iphone 11 model by up to 8 million unit or about 10 nikkei asian review report hint that demand for the recently launch version of -pron- flagship phone be pick up file photo apple iphone 11 s be picture inside of the apple store on fifth ave in the manhattan borough of new york new york u s september 20 2019 reuters carlo allegri file photo previously apple be quite conservative about place order which be less than for last year new iphone the nikkei say on friday quote a source after the increase prepared production volume for the iphone 11 series will be high compare to last year the companys share rise 1 8 to 224 78 in early trading the recent surge in iphone order be concentrate in the cheap iphone 11 model and the iphone 11 pro model source cite by nikkei say while apple have slightly reduce order for -pron- top range model the iphone 11 pro max which have a starting price of 1 099 despite all the perceive black cloud from be the poster child of the current u s china trade tension apple be see a very strong iphone 11 demand trajectory and defy many skeptic that have be yell fire in a crowded theater over the past few month wedbush analyst write in a note the late iphone 11 range hit store in china in september with short queue of die hard fan contrast with the hundred who camp out ahead of some previous launch reuters have report however apple chief executive officer tim cook tell german daily bild earlier this week that iphone sale be off to a very strong start j p morgan analyst have also raise -pron- iphone shipment forecast and now expect apple to sell 1 million unit more than -pron- previous estimate but concern remain supplier remain cautious the nikkei report add -pron- be concern that the high level of order would not be sustain demand be good for now but -pron- have to be careful not to be too optimistic an executive level source say in the report -pron- hope that this year peak season last long than last year apple do not respond to a reuters request for comment cupertino base apple have recently start focus more on -pron- service unit which include sale from icloud the app store and other business as smartphone sale show sign of slow down in the company late reported fiscal quarter iphone contribute less than half of company revenue for the first time in seven year apple launch -pron- three new iphone model in september and reduce the starting price of the model upgrade despite good camera to 699 compare to 749 for last year iphone xr

,SYMBOL,SITE_NAME,URL,PUBLISH_TIME,SCRAPED_TIME,TITLE,CONTENT
count,5778,5170,5778,5778,5430,5778,5778
unique,291,62,2898,1182,52,2893,2621
top,Abbott Laboratories | ABT,Yahoo Finance,https://www.bloomberg.com/graphics/2019-women-...,"Thu, 21 Mar 2019 07:00:00 GMT",2019-10-09-16-24,California's Women Requirement for Company Boa...,why do this happen please make sure -pron- bro...
freq,70,1376,110,121,4354,110,580

In [57]:
df=df.drop_duplicates(subset=['CONTENT'], keep='first')
df.dropna(subset=['URL'], inplace=True)
#df=df.drop_duplicates(subset=['URL'], keep='first')
df.describe()

C:\Users\manzh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,SYMBOL,SITE_NAME,URL,PUBLISH_TIME,SCRAPED_TIME,TITLE,CONTENT
count,2621,2091,2621,2621,2307,2621,2621
unique,281,62,2614,1130,52,2610,2621
top,SKIS,Yahoo Finance,PRNewswire,"Thu, 12 Sep 2019 07:00:00 GMT",2019-10-09-16-24,2019-10-09-16-24,fred wilson co founder and manage partner at u...
freq,55,651,3,39,1782,3,1

In [58]:
df['URL'].isnull().value_counts()

False    2621
Name: URL, dtype: int64

In [59]:
df = df[df['URL'].str.contains('http')]
df.describe()

,SYMBOL,SITE_NAME,URL,PUBLISH_TIME,SCRAPED_TIME,TITLE,CONTENT
count,2574,2044,2574,2574,2260,2574,2574
unique,234,16,2570,1083,6,2566,2574
top,SKIS,Yahoo Finance,https://www.cnbc.com/2019/10/08/dow-to-fall-us...,"Tue, 10 Sep 2019 07:00:00 GMT",2019-10-09-16-24,"Tellurian, Total finalize Louisiana Driftwood ...",fred wilson co founder and manage partner at u...
freq,55,651,2,39,1782,2,1

In [60]:
import datetime
import dateutil.parser

def getDateTime(s):
    d = dateutil.parser.parse(s)
    d=str(d)
    return d

In [61]:
uniform_date=[]
for date in df['PUBLISH_TIME']:
    uni_date=getDateTime(date)
    uniform_date.append(uni_date)
uniform_date

['2019-10-08 20:45:00+00:00',
 '2019-10-04 05:29:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-10-07 13:46:00+00:00',
 '2019-09-13 07:00:00+00:00',
 '2019-09-11 07:00:00+00:00',
 '2019-07-17 07:00:00+00:00',
 '2019-07-16 07:00:00+00:00',
 '2019-04-17 07:00:00+00:00',
 '2018-10-26 07:00:00+00:00',
 '2019-05-31 07:00:00+00:00',
 '2019-07-29 07:00:00+00:00',
 '2019-07-25 07:00:00+00:00',
 '2019-02-04 08:00:00+00:00',
 '2019-08-05 07:00:00+00:00',
 '2019-08-14 07:00:00+00:00',
 '2019-06-11 07:00:00+00:00',
 '2019-05-24 07:00:00+00:00',
 '2019-09-15 07:00:00+00:00',
 '2019-04-04 07:00:00+00:00',
 '2019-10-03 03:06:00+00:00',
 '2019-09-09 07:00:00+00:00',
 '2019-10-08 02:18:00+00:00',
 '2019-09-25 07:00:00+00:00',
 '2019-10-09 13:01:00+00:00',
 '2018-11-24 08:00:00+00:00',
 '2019-08-01 07:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-09-18 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-09-09 07:00:00+00:00',
 '2019-09-17 07:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-10-08 20:39:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-07-31 07:00:00+00:00',
 '2019-10-04 17:55:00+00:00',
 '2019-09-12 07:00:00+00:00',
 '2019-06-13 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-10-07 07:28:00+00:00',
 '2019-03-19 07:00:00+00:00',
 '2018-12-11 08:00:00+00:00',
 '2019-03-14 07:00:00+00:00',
 '2019-06-13 07:00:00+00:00',
 '2019-06-13 07:00:00+00:00',
 '2019-06-14 07:00:00+00:00',
 '2019-02-10 08:00:00+00:00',
 '2018-10-19 07:00:00+00:00',
 '2018-11-07 08:00:00+00:00',
 '2019-01-21 08:00:00+00:00',
 '2018-11-11 08:00:00+00:00',
 '2018-11-12 08:00:00+00:00',
 '2019-10-08 12:00:00+00:00',
 '2019-09-17 07:00:00+00:00',
 '2019-09-09 07:00:00+00:00',
 '2019-07-09 07:00:00+00:00',
 '2019-05-15 07:00:00+00:00',
 '2019-03-01 08:00:00+00:00',
 '2019-07-09 07:00:00+00:00',
 '2019-06-19 07:00:00+00:00',
 '2018-11-08 08:00:00+00:00',
 '2019-08-02 07:00:00+00:00',
 '2019-07-17 07:00:00+00:00',
 '2019-03-03 08:00:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2019-09-11 07:00:00+00:00',
 '2019-10-01 15:24:00+00:00',
 '2019-09-17 07:00:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-10-09 16:06:00+00:00',
 '2019-10-08 18:31:00+00:00',
 '2019-10-01 14:04:00+00:00',
 '2019-10-04 14:08:00+00:00',
 '2019-10-07 17:24:00+00:00',
 '2019-10-07 23:03:00+00:00',
 '2019-09-25 07:00:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-09-13 07:00:00+00:00',
 '2019-10-04 11:06:00+00:00',
 '2019-10-09 16:31:00+00:00',
 '2019-10-01 07:00:00+00:00',
 '2019-10-02 12:11:00+00:00',
 '2019-10-01 07:00:00+00:00',
 '2019-07-18 07:00:00+00:00',
 '2019-04-12 07:00:00+00:00',
 '2019-05-22 07:00:00+00:00',
 '2019-10-09 13:29:00+00:00',
 '2019-10-09 02:06:00+00:00',
 '2019-10-07 11:14:00+00:00',
 '2019-10-07 07:03:00+00:00',
 '2019-10-08 17:36:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-10-08 18:41:00+00:00',
 '2019-09-12 07:00:00+00:00',
 '2019-10-01 14:10:00+00:00',
 '2019-10-08 00:22:00+00:00',
 '2019-08-08 07:00:00+00:00',
 '2018-12-06 08:00:00+00:00',
 '2019-10-04 06:03:00+00:00',
 '2019-09-20 07:00:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2018-10-30 07:00:00+00:00',
 '2019-01-22 08:00:00+00:00',
 '2019-09-12 07:00:00+00:00',
 '2019-08-19 07:00:00+00:00',
 '2019-08-07 07:00:00+00:00',
 '2018-11-14 08:00:00+00:00',
 '2019-08-28 07:00:00+00:00',
 '2018-12-04 08:00:00+00:00',
 '2019-06-27 07:00:00+00:00',
 '2019-08-20 07:00:00+00:00',
 '2019-03-16 07:00:00+00:00',
 '2019-05-30 07:00:00+00:00',
 '2019-08-08 07:00:00+00:00',
 '2019-08-28 07:00:00+00:00',
 '2018-10-19 07:00:00+00:00',
 '2019-05-29 07:00:00+00:00',
 '2019-09-25 07:00:00+00:00',
 '2019-10-09 10:34:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-10-03 12:05:00+00:00',
 '2019-10-08 16:05:00+00:00',
 '2019-04-25 07:00:00+00:00',
 '2019-08-29 07:00:00+00:00',
 '2019-09-24 07:00:00+00:00',
 '2019-10-08 20:34:00+00:00',
 '2019-09-25 07:00:00+00:00',
 '2019-09-25 07:00:00+00:00',
 '2019-09-24 07:00:00+00:00',
 '2019-02-28 08:00:00+00:00',
 '2019-05-10 07:00:00+00:00',
 '2019-03-05 08:00:00+00:00',
 '2019-01-25 08:00:00+00:00',
 '2019-09-24 07:00:00+00:00',
 '2019-09-29 07:00:00+00:00',
 '2019-09-18 07:00:00+00:00',
 '2019-09-18 07:00:00+00:00',
 '2019-09-11 07:00:00+00:00',
 '2019-03-20 07:00:00+00:00',
 '2018-11-27 08:00:00+00:00',
 '2019-02-05 08:00:00+00:00',
 '2019-09-11 07:00:00+00:00',
 '2019-08-19 07:00:00+00:00',
 '2019-08-02 07:00:00+00:00',
 '2019-02-11 08:00:00+00:00',
 '2018-11-11 08:00:00+00:00',
 '2019-09-20 07:00:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2018-11-26 08:00:00+00:00',
 '2018-12-05 08:00:00+00:00',
 '2019-10-03 10:28:00+00:00',
 '2019-10-03 13:03:00+00:00',
 '2019-10-03 21:58:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2019-10-08 01:28:00+00:00',
 '2019-10-08 12:00:00+00:00',
 '2019-07-29 07:00:00+00:00',
 '2019-07-23 07:00:00+00:00',
 '2019-01-29 08:00:00+00:00',
 '2019-04-23 07:00:00+00:00',
 '2019-04-25 07:00:00+00:00',
 '2019-04-25 07:00:00+00:00',
 '2019-02-21 08:00:00+00:00',
 '2018-10-29 07:00:00+00:00',
 '2018-11-16 08:00:00+00:00',
 '2018-10-18 07:00:00+00:00',
 '2018-12-11 08:00:00+00:00',
 '2018-10-22 07:00:00+00:00',
 '2018-10-19 07:00:00+00:00',
 '2019-05-16 07:00:00+00:00',
 '2019-03-28 07:00:00+00:00',
 '2019-06-03 07:00:00+00:00',
 '2019-07-08 07:00:00+00:00',
 '2019-02-07 08:00:00+00:00',
 '2019-03-14 07:00:00+00:00',
 '2019-07-31 07:00:00+00:00',
 '2019-01-25 08:00:00+00:00',
 '2019-10-09 11:22:00+00:00',
 '2019-10-09 11:36:00+00:00',
 '2019-10-09 08:53:00+00:00',
 '2019-10-09 13:07:00+00:00',
 '2019-10-09 13:07:00+00:00',
 '2019-09-20 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-07-10 07:00:00+00:00',
 '2019-02-14 08:00:00+00:00',
 '2019-03-26 07:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-09-12 07:00:00+00:00',
 '2019-05-08 07:00:00+00:00',
 '2019-05-20 07:00:00+00:00',
 '2019-08-01 07:00:00+00:00',
 '2019-08-29 07:00:00+00:00',
 '2019-10-04 16:11:00+00:00',
 '2019-09-04 07:00:00+00:00',
 '2019-08-11 07:00:00+00:00',
 '2019-09-24 07:00:00+00:00',
 '2019-09-13 07:00:00+00:00',
 '2019-10-01 16:55:00+00:00',
 '2019-10-01 11:57:00+00:00',
 '2019-07-24 07:00:00+00:00',
 '2018-11-27 08:00:00+00:00',
 '2019-09-29 07:00:00+00:00',
 '2019-09-16 07:00:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-09-25 07:00:00+00:00',
 '2019-06-25 07:00:00+00:00',
 '2019-09-17 07:00:00+00:00',
 '2019-05-31 07:00:00+00:00',
 '2019-06-28 07:00:00+00:00',
 '2019-02-11 08:00:00+00:00',
 '2019-10-03 04:07:00+00:00',
 '2019-10-02 12:46:00+00:00',
 '2019-09-20 07:00:00+00:00',
 '2019-09-24 07:00:00+00:00',
 '2019-09-17 07:00:00+00:00',
 '2019-10-09 16:17:00+00:00',
 '2019-10-03 04:11:00+00:00',
 '2019-10-01 10:42:00+00:00',
 '2019-10-09 06:07:00+00:00',
 '2019-03-06 08:00:00+00:00',
 '2019-10-09 12:46:00+00:00',
 '2019-10-08 17:33:00+00:00',
 '2019-10-06 21:09:00+00:00',
 '2019-10-08 16:54:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-10-03 22:27:00+00:00',
 '2019-06-21 07:00:00+00:00',
 '2019-03-01 08:00:00+00:00',
 '2019-05-24 07:00:00+00:00',
 '2018-10-17 07:00:00+00:00',
 '2019-09-14 07:00:00+00:00',
 '2019-05-10 07:00:00+00:00',
 '2019-08-13 07:00:00+00:00',
 '2018-11-01 07:00:00+00:00',
 '2019-09-16 07:00:00+00:00',
 '2019-10-08 19:56:00+00:00',
 '2019-09-25 07:00:00+00:00',
 '2019-10-07 13:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2018-11-15 08:00:00+00:00',
 '2019-03-08 08:00:00+00:00',
 '2019-05-05 07:00:00+00:00',
 '2019-03-27 07:00:00+00:00',
 '2019-10-07 16:38:00+00:00',
 '2019-09-20 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-10-02 17:46:00+00:00',
 '2019-07-15 07:00:00+00:00',
 '2019-09-06 07:00:00+00:00',
 '2019-05-02 07:00:00+00:00',
 '2019-07-10 07:00:00+00:00',
 '2019-07-07 07:00:00+00:00',
 '2019-02-21 08:00:00+00:00',
 '2019-06-24 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-07-16 07:00:00+00:00',
 '2019-09-05 07:00:00+00:00',
 '2019-09-03 07:00:00+00:00',
 '2019-02-27 08:00:00+00:00',
 '2019-03-29 07:00:00+00:00',
 '2019-01-03 08:00:00+00:00',
 '2019-02-19 08:00:00+00:00',
 '2019-04-02 07:00:00+00:00',
 '2019-09-23 07:00:00+00:00',
 '2019-09-18 07:00:00+00:00',
 '2019-09-23 07:00:00+00:00',
 '2019-09-17 07:00:00+00:00',
 '2019-06-14 07:00:00+00:00',
 '2018-10-19 07:00:00+00:00',
 '2019-08-26 07:00:00+00:00',
 '2019-01-10 08:00:00+00:00',
 '2019-09-03 07:00:00+00:00',
 '2019-08-15 07:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-05-15 07:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-01-14 08:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-07-10 07:00:00+00:00',
 '2019-09-17 07:00:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-06-03 07:00:00+00:00',
 '2019-09-04 07:00:00+00:00',
 '2019-10-01 21:04:00+00:00',
 '2019-10-02 11:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-09-09 07:00:00+00:00',
 '2019-09-23 07:00:00+00:00',
 '2019-09-30 07:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-09-20 07:00:00+00:00',
 '2019-09-20 07:00:00+00:00',
 '2019-10-01 11:29:00+00:00',
 '2018-10-17 07:00:00+00:00',
 '2019-08-22 07:00:00+00:00',
 '2019-05-01 07:00:00+00:00',
 '2019-05-24 07:00:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2019-07-15 07:00:00+00:00',
 '2019-10-08 22:52:00+00:00',
 '2019-10-01 07:48:00+00:00',
 '2019-10-08 09:39:00+00:00',
 '2019-10-01 07:00:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-09-13 07:00:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-06-03 07:00:00+00:00',
 '2019-07-31 07:00:00+00:00',
 '2019-06-13 07:00:00+00:00',
 '2019-06-13 07:00:00+00:00',
 '2019-04-11 07:00:00+00:00',
 '2019-06-14 07:00:00+00:00',
 '2019-08-19 07:00:00+00:00',
 '2019-03-26 07:00:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-07-08 07:00:00+00:00',
 '2019-05-15 07:00:00+00:00',
 '2019-09-06 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-06-27 07:00:00+00:00',
 '2019-02-19 08:00:00+00:00',
 '2019-01-08 08:00:00+00:00',
 '2018-12-31 08:00:00+00:00',
 '2018-05-30 07:00:00+00:00',
 '2019-01-23 08:00:00+00:00',
 '2018-06-15 07:00:00+00:00',
 '2018-12-04 08:00:00+00:00',
 '2019-08-08 07:00:00+00:00',
 '2019-09-18 07:00:00+00:00',
 '2019-10-08 10:57:00+00:00',
 '2019-07-26 07:00:00+00:00',
 '2019-09-06 07:00:00+00:00',
 '2019-01-28 08:00:00+00:00',
 '2019-09-24 07:00:00+00:00',
 '2019-10-08 17:54:00+00:00',
 '2019-09-25 07:00:00+00:00',
 '2019-10-04 22:57:00+00:00',
 '2019-09-24 07:00:00+00:00',
 '2019-05-10 07:00:00+00:00',
 '2019-04-17 07:00:00+00:00',
 '2019-08-07 07:00:00+00:00',
 '2019-08-20 07:00:00+00:00',
 '2019-08-14 07:00:00+00:00',
 '2019-08-06 07:00:00+00:00',
 '2019-05-17 07:00:00+00:00',
 '2019-05-21 07:00:00+00:00',
 '2018-11-28 08:00:00+00:00',
 '2019-02-05 08:00:00+00:00',
 '2019-09-11 07:00:00+00:00',
 '2019-09-12 07:00:00+00:00',
 '2019-06-26 07:00:00+00:00',
 '2019-06-20 07:00:00+00:00',
 '2019-09-13 07:00:00+00:00',
 '2019-08-11 07:00:00+00:00',
 '2019-07-11 07:00:00+00:00',
 '2019-02-27 08:00:00+00:00',
 '2019-07-24 07:00:00+00:00',
 '2019-10-02 22:42:00+00:00',
 '2019-10-02 16:33:00+00:00',
 '2019-06-26 07:00:00+00:00',
 '2019-08-15 07:00:00+00:00',
 '2019-10-03 10:10:00+00:00',
 '2019-10-03 16:28:00+00:00',
 '2019-10-03 17:16:00+00:00',
 '2019-10-03 10:56:00+00:00',
 '2019-07-09 07:00:00+00:00',
 '2019-07-30 07:00:00+00:00',
 '2019-07-30 07:00:00+00:00',
 '2019-03-20 07:00:00+00:00',
 '2019-01-29 08:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-08-13 07:00:00+00:00',
 '2019-07-23 07:00:00+00:00',
 '2019-01-22 08:00:00+00:00',
 '2018-10-18 07:00:00+00:00',
 '2018-10-10 07:00:00+00:00',
 '2018-10-19 07:00:00+00:00',
 '2018-10-19 07:00:00+00:00',
 '2019-05-16 07:00:00+00:00',
 '2019-07-05 07:00:00+00:00',
 '2019-02-07 08:00:00+00:00',
 '2019-06-13 07:00:00+00:00',
 '2019-03-23 07:00:00+00:00',
 '2019-02-08 08:00:00+00:00',
 '2019-10-09 11:37:00+00:00',
 '2019-10-09 17:03:35+00:00',
 '2019-10-07 18:53:00+00:00',
 '2019-10-07 21:51:00+00:00',
 '2019-10-08 14:00:00+00:00',
 '2019-05-02 07:00:00+00:00',
 '2019-04-18 07:00:00+00:00',
 '2019-03-25 07:00:00+00:00',
 '2019-07-25 07:00:00+00:00',
 '2019-06-12 07:00:00+00:00',
 '2019-01-24 08:00:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2019-03-20 07:00:00+00:00',
 '2019-08-28 07:00:00+00:00',
 '2018-10-11 07:00:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-05-06 07:00:00+00:00',
 '2019-04-24 07:00:00+00:00',
 '2019-08-26 07:00:00+00:00',
 '2019-06-13 07:00:00+00:00',
 '2019-07-24 07:00:00+00:00',
 '2019-01-31 08:00:00+00:00',
 '2019-05-15 07:00:00+00:00',
 '2019-05-09 07:00:00+00:00',
 '2019-09-10 07:00:00+00:00',
 '2019-10-04 19:44:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2019-08-07 07:00:00+00:00',
 '2019-09-20 07:00:00+00:00',
 '2019-08-01 07:00:00+00:00',
 '2019-05-02 07:00:00+00:00',
 '2019-03-26 07:00:00+00:00',
 '2019-08-22 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-09-12 07:00:00+00:00',
 '2019-09-24 07:00:00+00:00',
 '2019-10-08 10:43:00+00:00',
 '2019-08-02 07:00:00+00:00',
 '2019-01-08 08:00:00+00:00',
 '2019-01-02 08:00:00+00:00',
 '2019-09-12 07:00:00+00:00',
 '2019-09-13 07:00:00+00:00',
 '2019-10-08 14:39:00+00:00',
 '2019-10-04 06:22:00+00:00',
 '2019-09-13 07:00:00+00:00',
 '2019-10-05 11:03:00+00:00',
 '2019-03-26 07:00:00+00:00',
 '2019-03-04 08:00:00+00:00',
 '2019-04-11 07:00:00+00:00',
 '2019-01-11 08:00:00+00:00',
 '2019-03-07 08:00:00+00:00',
 '2018-10-22 07:00:00+00:00',
 '2018-12-14 08:00:00+00:00',
 '2018-11-08 08:00:00+00:00',
 '2019-03-01 08:00:00+00:00',
 '2019-03-06 08:00:00+00:00',
 '2019-01-25 08:00:00+00:00',
 '2018-12-18 08:00:00+00:00',
 '2019-01-30 08:00:00+00:00',
 '2019-10-04 21:29:00+00:00',
 '2019-10-04 00:05:00+00:00',
 '2019-09-20 07:00:00+00:00',
 '2019-10-03 23:32:00+00:00',
 '2019-10-06 12:04:00+00:00',
 '2019-02-06 08:00:00+00:00',
 '2019-10-01 13:28:00+00:00',
 '2019-01-07 08:00:00+00:00',
 '2019-01-17 08:00:00+00:00',
 '2018-11-01 07:00:00+00:00',
 '2019-03-12 07:00:00+00:00',
 '2019-04-11 07:00:00+00:00',
 '2019-03-29 07:00:00+00:00',
 '2019-04-11 07:00:00+00:00',
 '2019-02-27 08:00:00+00:00',
 '2019-04-11 07:00:00+00:00',
 '2018-10-10 07:00:00+00:00',
 '2019-02-20 08:00:00+00:00',
 '2019-01-28 08:00:00+00:00',
 '2018-12-26 08:00:00+00:00',
 '2019-03-06 08:00:00+00:00',
 '2019-03-07 08:00:00+00:00',
 '2018-11-06 08:00:00+00:00',
 '2019-02-13 08:00:00+00:00',
 '2018-12-21 08:00:00+00:00',
 '2018-12-12 08:00:00+00:00',
 '2018-11-02 07:00:00+00:00',
 '2019-03-21 07:00:00+00:00',
 '2019-03-15 07:00:00+00:00',
 '2019-03-14 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-09-17 07:00:00+00:00',
 '2019-09-25 07:00:00+00:00',
 '2018-11-30 08:00:00+00:00',
 '2019-09-17 07:00:00+00:00',
 '2019-02-18 08:00:00+00:00',
 '2019-01-31 08:00:00+00:00',
 '2018-11-15 08:00:00+00:00',
 '2018-10-12 07:00:00+00:00',
 '2019-02-15 13:37:00+00:00',
 '2019-03-25 07:00:00+00:00',
 '2019-02-14 08:00:00+00:00',
 '2018-11-15 08:00:00+00:00',
 '2019-03-20 07:00:00+00:00',
 '2018-11-16 08:00:00+00:00',
 '2019-03-12 07:00:00+00:00',
 '2019-04-11 07:00:00+00:00',
 '2019-03-04 08:00:00+00:00',
 '2019-10-07 08:29:00+00:00',
 '2019-04-05 07:00:00+00:00',
 '2019-02-20 08:00:00+00:00',
 '2019-04-10 07:00:00+00:00',
 '2019-03-05 08:00:00+00:00',
 '2019-04-10 07:00:00+00:00',
 '2019-03-12 07:00:00+00:00',
 '2019-01-17 08:00:00+00:00',
 '2019-03-27 07:00:00+00:00',
 '2018-12-20 08:00:00+00:00',
 '2019-09-23 07:00:00+00:00',
 '2019-01-08 08:00:00+00:00',
 '2018-12-27 08:00:00+00:00',
 '2018-11-17 08:00:00+00:00',
 '2019-04-11 07:00:00+00:00',
 '2019-02-12 08:00:00+00:00',
 '2019-01-28 08:00:00+00:00',
 '2019-09-04 13:40:00+00:00',
 '2019-04-04 07:00:00+00:00',
 '2019-03-13 07:00:00+00:00',
 '2019-04-03 07:00:00+00:00',
 '2019-03-27 07:00:00+00:00',
 '2019-02-18 08:00:00+00:00',
 '2018-12-03 08:00:00+00:00',
 '2019-02-15 08:00:00+00:00',
 '2019-10-08 15:58:00+00:00',
 '2019-09-13 07:00:00+00:00',
 '2019-04-03 07:00:00+00:00',
 '2019-03-25 07:00:00+00:00',
 '2019-01-02 08:00:00+00:00',
 '2019-03-12 07:00:00+00:00',
 '2019-03-15 07:00:00+00:00',
 '2019-01-03 08:00:00+00:00',
 '2019-02-19 08:00:00+00:00',
 '2019-02-12 08:00:00+00:00',
 '2019-02-11 08:00:00+00:00',
 '2019-02-22 08:00:00+00:00',
 '2019-02-27 08:00:00+00:00',
 '2018-11-29 08:00:00+00:00',
 '2019-02-27 08:00:00+00:00',
 '2019-03-19 07:00:00+00:00',
 '2019-03-01 08:00:00+00:00',
 '2019-02-04 08:00:00+00:00',
 '2019-03-21 07:00:00+00:00',
 '2018-12-27 08:00:00+00:00',
 '2018-12-07 08:00:00+00:00',
 '2018-11-19 08:00:00+00:00',
 '2019-02-14 08:00:00+00:00',
 '2019-01-02 08:00:00+00:00',
 '2019-02-13 08:00:00+00:00',
 '2018-12-12 08:00:00+00:00',
 '2018-11-05 08:00:00+00:00',
 '2018-12-26 08:00:00+00:00',
 '2019-02-07 08:00:00+00:00',
 '2018-12-04 08:00:00+00:00',
 '2019-09-23 07:00:00+00:00',
 '2019-10-03 19:59:00+00:00',
 '2019-10-07 11:53:00+00:00',
 '2019-09-23 07:00:00+00:00',
 '2019-10-07 05:00:00+00:00',
 '2019-09-13 07:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-09-13 07:00:00+00:00',
 '2019-09-20 07:00:00+00:00',
 '2018-10-11 07:00:00+00:00',
 '2019-10-04 17:43:00+00:00',
 '2019-09-30 18:47:00+00:00',
 '2019-09-25 07:00:00+00:00',
 '2019-02-08 08:00:00+00:00',
 '2019-04-08 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2018-12-26 08:00:00+00:00',
 '2019-04-08 07:00:00+00:00',
 '2019-02-21 08:00:00+00:00',
 '2019-10-03 15:01:00+00:00',
 '2019-10-07 08:30:00+00:00',
 '2019-10-07 17:26:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2019-09-26 07:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-09-29 07:00:00+00:00',
 '2019-09-28 07:00:00+00:00',
 '2019-09-12 07:00:00+00:00',
 '2019-01-03 08:00:00+00:00',
 '2019-01-03 08:00:00+00:00',
 '2019-10-03 12:00:00+00:00',
 '2019-01-07 08:00:00+00:00',
 '2018-11-20 08:00:00+00:00',
 '2018-10-11 07:00:00+00:00',
 '2018-12-06 08:00:00+00:00',
 '2019-04-09 07:00:00+00:00',
 '2019-10-08 14:00:00+00:00',
 '2019-01-30 08:00:00+00:00',
 '2019-02-27 08:00:00+00:00',
 '2019-03-21 07:00:00+00:00',
 '2019-03-20 07:00:00+00:00',
 '2018-12-26 08:00:00+00:00',
 '2018-11-27 08:00:00+00:00',
 '2019-03-27 07:00:00+00:00',
 '2018-12-04 08:00:00+00:00',
 '2019-03-13 07:00:00+00:00',
 '2019-01-27 08:00:00+00:00',
 '2019-01-23 08:00:00+00:00',
 '2019-03-13 07:00:00+00:00',
 '2019-02-28 08:00:00+00:00',
 '2017-11-03 07:00:00+00:00',
 '2019-01-11 08:00:00+00:00',
 '2019-02-01 08:00:00+00:00',
 '2019-03-26 07:00:00+00:00',
 '2019-03-08 08:00:00+00:00',
 '2019-01-15 08:00:00+00:00',
 '2019-03-05 08:00:00+00:00',
 '2018-12-12 08:00:00+00:00',
 '2019-02-08 08:00:00+00:00',
 '2019-09-19 07:00:00+00:00',
 '2019-10-01 07:00:00+00:00',
 '2019-01-24 08:00:00+00:00',
 '2018-12-21 08:00:00+00:00',
 '2019-01-31 08:00:00+00:00',
 '2019-09-24 07:00:00+00:00',
 '2019-09-23 07:00:00+00:00',
 '2019-09-27 07:00:00+00:00',
 '2019-09-22 07:00:00+00:00',
 '2019-10-02 21:10:00+00:00',
 '2019-01-22 08:00:00+00:00',
 '2019-04-15 07:00:00+00:00',
 '2019-10-01 13:50:00+00:00',
 '2019-02-27 08:00:00+00:00',
 '2019-01-30 08:00:00+00:00',
 '2019-02-04 08:00:00+00:00',
 '2019-01-29 08:00:00+00:00',
 '2019-03-01 08:00:00+00:00',
 '2019-03-18 07:00:00+00:00',
 '2018-12-21 08:00:00+00:00',
 '2019-04-04 07:00:00+00:00',
 '2018-12-03 08:00:00+00:00',
 '2018-11-29 08:00:00+00:00',
 '2019-02-01 08:00:00+00:00',
 '2018-12-11 08:00:00+00:00',
 '2019-04-09 07:00:00+00:00',
 '2019-02-04 08:00:00+00:00',
 '2019-09-20 07:00:00+00:00',
 '2019-02-06 08:00:00+00:00',
 '2018-11-14 08:00:00+00:00',
 '2019-03-20 07:00:00+00:00',
 '2019-03-27 07:00:00+00:00',
 '2019-01-30 08:00:00+00:00',
 '2019-03-27 07:00:00+00:00',
 '2018-12-24 08:00:00+00:00',
 '2019-10-02 12:14:00+00:00',
 '2019-09-29 07:00:00+00:00',
 '2019-10-03 18:34:00+00:00',
 '2019-02-14 08:00:00+00:00',
 '2019-01-30 08:00:00+00:00',
 '2019-04-10 07:00:00+00:00',
 '2019-01-24 08:00:00+00:00',
 '2018-11-07 08:00:00+00:00',
 '2019-03-18 07:00:00+00:00',
 '2019-03-13 07:00:00+00:00',
 '2019-03-26 07:00:00+00:00',
 '2019-02-06 08:00:00+00:00',
 '2019-03-25 07:00:00+00:00',
 '2019-03-27 07:00:00+00:00',
 '2019-03-18 07:00:00+00:00',
 '2019-02-27 08:00:00+00:00',
 '2019-03-25 07:00:00+00:00',

In [62]:
df['PUBLISH_TIME']=uniform_date
df.head()

,SYMBOL,SITE_NAME,URL,PUBLISH_TIME,SCRAPED_TIME,TITLE,CONTENT
0,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-hongkong-pr...,2019-10-08 20:45:00+00:00,2019-10-09-16-24,China state newspaper criticizes Apple for app...,hong kong reuters the chinese communist partys...
1,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-apple-iphon...,2019-10-04 05:29:00+00:00,2019-10-09-16-24,Apple raises production of iPhone 11 models by...,reuters apple inc aapl o have ask supplier to ...
2,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-apple-iphon...,2019-09-10 07:00:00+00:00,2019-10-09-16-24,Apple reveals triple-camera iPhone; $5 monthly...,cupertino calif reuters apple inc aapl o catch...
3,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-usa-court-a...,2019-10-07 13:46:00+00:00,2019-10-09-16-24,U.S. Supreme Court snubs University of Wiscons...,file photo apple company logo be see as two ma...
4,Apple Inc. | AAPL,Reuters,https://www.reuters.com/article/us-apple-goldm...,2019-09-13 07:00:00+00:00,2019-10-09-16-24,Apple has sour reaction to Goldman Sachs' anal...,new york reuters apple inc appl o strike out a...

In [63]:
df.to_csv("C:/data/CS/scraped/10102019_news_scraping_results.csv", index=False)